<html>
<head>
    <title>
        Ulogin Page
    </title>
</head>
<body bgcolor="lightpink">
<center>
    <h1> Welcome to User login Page</h1>
    <h2 style="color:red">{{msg}}</h2>
    <form action="{% url 'elogin' %}" method="post">
        {% csrf_token %}
    <table>
        <tr>
            <td>User Email:</td>
            <td><input type="email" name="email"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>Login</td>
            <td><input type="submit" value="Login"/></td>
        </tr>
    </table>
    </form>
</center>
</body>
</html>