<html>
<head><title>User dashboard</title>
</head>
<body>
    <center>
        <h1> Welcome to user dashboard </h1>
        Firstname : {{request.session.Firstname}}
        
        Lastname : {{request.session.Lastname}}
        
        Email : {{request.session.Email}}
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Logout:
                    </td>
                    <td>
                        <input type="submit" name="logout" value="Logout">
                    </td>
                </tr>
            </table>
        </form>
        
    </center>
<body>
</html>